.elementor-691 .elementor-element.elementor-element-de2ba62>.elementor-container {
    min-height: 40vh;
}

.elementor-691 .elementor-element.elementor-element-de2ba62:not(.elementor-motion-effects-element-type-background),
.elementor-691 .elementor-element.elementor-element-de2ba62>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/12/black-man-and-woman-jogging-together-in-urban-park-5DYGZ2Jb.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-691 .elementor-element.elementor-element-de2ba62>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, var(--e-global-color-66df98e) 0%, var(--e-global-color-secondary) 98%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-691 .elementor-element.elementor-element-de2ba62 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 9em 0em 0em 0em;
}

.elementor-691 .elementor-element.elementor-element-b347353>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
}

.elementor-691 .elementor-element.elementor-element-067f5ad {
    text-align: center;
}

.elementor-691 .elementor-element.elementor-element-c1f222e {
    text-align: center;
    color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3274a81 {
    padding: 6em 1em 6em 1em;
}

.elementor-bc-flex-widget .elementor-691 .elementor-element.elementor-element-736fcd4.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-691 .elementor-element.elementor-element-736fcd4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-691 .elementor-element.elementor-element-736fcd4>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
}

.elementor-691 .elementor-element.elementor-element-0e4d955 {
    text-align: left;
}

.elementor-691 .elementor-element.elementor-element-c99644c {
    text-align: left;
    z-index: 1;
}

.elementor-691 .elementor-element.elementor-element-c99644c .elementor-heading-title {
    color: var(--e-global-color-66df98e);
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: var(--e-global-color-primary);
    stroke: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-d5cae3b {
    text-align: left;
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-item {
    border-width: 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-item .elementor-tab-content {
    border-width: 1px;
    border-top-color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-item .elementor-tab-title.elementor-active {
    border-width: 1px;
    border-bottom-color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-icon,
.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-title {
    color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-active .elementor-accordion-icon,
.elementor-691 .elementor-element.elementor-element-3d758db .elementor-active .elementor-accordion-title {
    color: var(--e-global-color-accent);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-tab-title .elementor-accordion-icon i:before {
    color: var(--e-global-color-accent);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-tab-title .elementor-accordion-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-tab-title.elementor-active .elementor-accordion-icon i:before {
    color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-tab-title.elementor-active .elementor-accordion-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-icon.elementor-accordion-icon-left {
    margin-right: 10px;
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-icon.elementor-accordion-icon-right {
    margin-left: 10px;
}

.elementor-691 .elementor-element.elementor-element-3d758db .elementor-tab-content {
    padding: 15px 15px 15px 55px;
}

.elementor-691 .elementor-element.elementor-element-a705542>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
}

.elementor-691 .elementor-element.elementor-element-15213cf {
    text-align: right;
}

.elementor-691 .elementor-element.elementor-element-15213cf img {
    border-radius: 30px 30px 30px 30px;
}

.elementor-691 .elementor-element.elementor-element-0c58124 {
    padding: 6em 1em 6em 1em;
}

.elementor-691 .elementor-element.elementor-element-b91157b>.elementor-element-populated {
    padding: 1em 1em 1em 1em;
}

.elementor-691 .elementor-element.elementor-element-97e55c4 {
    text-align: center;
}

.elementor-691 .elementor-element.elementor-element-fc9139a {
    text-align: center;
    z-index: 1;
}

.elementor-691 .elementor-element.elementor-element-fc9139a .elementor-heading-title {
    color: var(--e-global-color-66df98e);
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: var(--e-global-color-primary);
    stroke: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-4da8084 {
    --spacer-size: 20px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(0.5 * 100%);
}

.elementor-691 .elementor-element.elementor-element-c3c90ce:after {
    content: "0.5";
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__meta-data span+span:before {
    content: "-";
}

.elementor-691 .elementor-element.elementor-element-c3c90ce {
    --grid-column-gap: 30px;
    --grid-row-gap: 35px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post {
    border-radius: 30px;
    padding: 0px 0px 0px 0px;
    background-color: var(--e-global-color-a2b3403);
    border-color: var(--e-global-color-accent);
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__text {
    padding: 15px 30px 30px 30px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post:hover {
    box-shadow: 0px 0px 19px -2px rgba(226.50000000000003, 94.4842444424548, 51.83957201086957, 0.25);
}

.elementor-691 .elementor-element.elementor-element-c3c90ce.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 20px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 20px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 20px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title,
.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title a {
    font-family: var(--e-global-typography-04ae2d2-font-family), Sans-serif;
    font-size: var(--e-global-typography-04ae2d2-font-size);
    font-weight: var(--e-global-typography-04ae2d2-font-weight);
    font-style: var(--e-global-typography-04ae2d2-font-style);
    line-height: var(--e-global-typography-04ae2d2-line-height);
    letter-spacing: var(--e-global-typography-04ae2d2-letter-spacing);
    word-spacing: var(--e-global-typography-04ae2d2-word-spacing);
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title {
    margin-bottom: 20px;
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__meta-data {
    color: var(--e-global-color-primary);
}

.elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__excerpt p {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-691 .elementor-element.elementor-element-c3c90ce a.elementor-post__read-more {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-691 .elementor-element.elementor-element-736fcd4 {
        width: 100%;
    }

    .elementor-691 .elementor-element.elementor-element-a705542 {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-691 .elementor-element.elementor-element-de2ba62 {
        padding: 9em 0em 0em 0em;
    }

    .elementor-691 .elementor-element.elementor-element-0e4d955 {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-c99644c {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-d5cae3b {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-title {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-691 .elementor-element.elementor-element-15213cf {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title,
    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title a {
        font-size: var(--e-global-typography-04ae2d2-font-size);
        line-height: var(--e-global-typography-04ae2d2-line-height);
        letter-spacing: var(--e-global-typography-04ae2d2-letter-spacing);
        word-spacing: var(--e-global-typography-04ae2d2-word-spacing);
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__excerpt p {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce a.elementor-post__read-more {
        font-size: var(--e-global-typography-accent-font-size);
    }
}

@media(max-width:767px) {
    .elementor-691 .elementor-element.elementor-element-de2ba62 {
        padding: 10em 0em 0em 0em;
    }

    .elementor-691 .elementor-element.elementor-element-0e4d955 {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-c99644c {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-3d758db .elementor-accordion-title {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-691 .elementor-element.elementor-element-97e55c4 {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-fc9139a {
        text-align: center;
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.5 * 100%);
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce:after {
        content: "0.5";
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__thumbnail__link {
        width: 100%;
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title,
    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__title a {
        font-size: var(--e-global-typography-04ae2d2-font-size);
        line-height: var(--e-global-typography-04ae2d2-line-height);
        letter-spacing: var(--e-global-typography-04ae2d2-letter-spacing);
        word-spacing: var(--e-global-typography-04ae2d2-word-spacing);
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce .elementor-post__excerpt p {
        font-size: var(--e-global-typography-text-font-size);
    }

    .elementor-691 .elementor-element.elementor-element-c3c90ce a.elementor-post__read-more {
        font-size: var(--e-global-typography-accent-font-size);
    }
}